@import "tailwindcss";

/* * {
  border: 1px solid red;
} */

@theme {
  --font-roboto: "Roboto Mono", serif;
  --animate-text-cursor: blink 1s steps(1, end) infinite;

  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
}
