@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", serif;
  --animate-text-cursor: blink 1s steps(1, end) infinite;
  --breakpoint-grid-xs: 500px;

  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
}
